html,
body {
  background: #3c5898;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 24px;
}

body {
  font-weight: 400;
}

button {
  background: #3b5998;
  color: white;
  padding: 2px 18px 3px 18px;
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px #000033 solid;
  border-bottom: 1px #000033 solid;
  font-family: "Press Start 2P", cursive;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 24px;
}

h1 {
  font-size: 24px;
  text-align: center;
}

textarea {
  font-family: "Press Start 2P", cursive;
  border: 3px solid black;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #d4d8e8;
  padding: 10px;
  font-size: 24px;
}
